@{
    ViewData["Title"] = "F.A.Q";
}


<section class="headerr">
    <div class="header-title">
        Frequently Asked Questions
    </div>
</section>

<div class="content-block">
    <div id="myDiv">
        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#MeinLiX">MeinLiX</a></li>
            <li><a data-toggle="tab" href="#Functional">Functional</a></li>
            <li><a data-toggle="tab" href="#Pink_Theme">Pink Theme</a></li>
            <li><a data-toggle="tab" href="#Diagram">Diagram</a></li>
        </ul>

        <div class="tab-content">
            <div id="MeinLiX" class="tab-pane fade in active">
                <h3>MeinLiX</h3>
                <p>This is My version popular website HLTV</p>
                <p>HLTV, which stands for Half-Life Television, is a news website and forum which covers professional Counter-Strike: Global Offensive esports teams and organisations.</p>
                <p>It is one of the leading websites within the Counter-Strike community with over 4 million unique visitors each month.</p>
            </div>
            <div id="Functional" class="tab-pane fade">
                <h3>Functional</h3>
                <p>On this site you can found cybersports organisations our teams (subdivisions) and players.</p>
                <p>As well as information about their sponsors.</p>\
                <p>And also add your data.</p>
            </div>
            <div id="Pink_Theme" class="tab-pane fade">
                <h3>Pink Theme</h3>
                <p>In color psychology, pink is a sign of hope. It is a positive color inspiring warm and comforting feelings, a sense that everything will be okay.</p>
                <p>Combining pink with other darker colors such as dark blue, dark green, black or gray, adds strength and sophistication to pink.</p>
            </div>
            <div id="Diagram" class="tab-pane fade">
                <h3>Diagram</h3>
                <p>It will be soon...</p>
            </div>
        </div>
    </div>
</div>
