@model MeinLiX.Player

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdSubdivision" class="control-label"></label>
                <select asp-for="IdSubdivision" class="form-control" asp-items="ViewBag.IdSubdivision"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlayerName" class="control-label"></label>
                <input asp-for="PlayerName" class="form-control" />
                <span asp-validation-for="PlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerNickname" class="control-label"></label>
                <input asp-for="PlayerNickname" class="form-control" />
                <span asp-validation-for="PlayerNickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerJoin" class="control-label"></label>
                <input asp-for="PlayerJoin" class="form-control" />
                <span asp-validation-for="PlayerJoin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerBirth" class="control-label"></label>
                <input asp-for="PlayerBirth" class="form-control" />
                <span asp-validation-for="PlayerBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.subdivisionId">Back to Player List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
